<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Title</title>
</head>
<body>
    <header th:fragment="admin-header">
        <div class="container-fluid dashboard-header">
            <div class="row">
                <div class="col-2">
                    <div class="sidebar">
                        <div class="logo">
                            <img th:src="@{/image/logo.svg}" alt="" width="80" />
                        </div>
                        <div class="function">
                            <ul>
                                <li>
                                    <a class="dash-board" th:href="@{/admin/dashboard}">
                                        <i class="bi bi-house-door"></i>
                                        Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a class="schedule" th:href="@{/admin/schedule}">
                                        <i class="bi bi-calendar2-week"></i>
                                        Schedule
                                    </a>
                                </li>
                                <li>
                                    <a class="seats" th:href="@{/admin/room}">
                                        <i class="bi bi-cast"></i>
                                        Cinema Room
                                    </a>
                                </li>
                                <li>
                                    <a class="ticket" href="">
                                        <i class="bi bi-ticket-detailed"></i>
                                        Ticket
                                    </a>
                                </li>
                                <li>
                                    <a class="user" href="">
                                        <i class="bi bi-person-circle"></i>
                                        User
                                    </a>
                                </li>
                                <li>
                                    <a class="promotion" href="">
                                        <i class="bi bi-postcard-heart"></i>
                                        Promotion
                                    </a>
                                </li>
                                <li>
                                    <a class="back" th:href="@{/main/home/1}">
                                        <i class="bi bi-arrow-left"></i>
                                        Back to home page
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="copyright text-center">
                            <p>
                                Copyright &copy;2023; Designed by
                                <span class="designer">Noman</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-10">
                    <div class="navbar">
                        <h3>ADMIN</h3>
                        <div class="account" style="display: flex; align-items: center">
                            <img src="https://static.vecteezy.com/system/resources/thumbnails/027/951/137/small_2x/stylish-spectacles-guy-3d-avatar-character-illustrations-png.png"
                                 alt=""
                                 width="50"
                                style="margin-right: 6px"/>
                            <a th:href="@{/main/logout}" style="text-decoration: none; color: azure">
                                Logout
                                <i class="bi bi-box-arrow-in-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>