<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Booking</title>
  <link rel="stylesheet" th:href="@{/css/user/seat-booking.css}">
</head>
<body>
    <main layout:fragment="content">
        <form id="myForm" th:action="@{/main/booking/ticket}" method="get">
            <div class="seat-booking">
                <div class="movie-container">
                    <h5>Movie Showing:</h5>
                    <h5 id="movie" th:text="${roomSchedule.movie.movieNameEng}"></h5>
                </div>

                <div class="schedule-container">
                    <h5>Schedule Showing:</h5>
                    <label>
                        <input type="hidden" th:value="${roomSchedule.id}" name="schedule"/>
                    </label>
                    <h5 th:text="${roomSchedule.startTime+' - '+roomSchedule.showDate}"></h5>
                </div>

                <ul class="showcase">
                    <li>
                        <div class="seat"></div>
                        <small>Available</small>
                    </li>
                    <li>
                        <div class="seat selected"></div>
                        <small>Selected</small>
                    </li>
                    <li>
                        <div class="seat sold"></div>
                        <small>Sold</small>
                    </li>
                </ul>

                <div class="room-1">
                    <div class="container">
                        <div class="screen"></div>
                        <div id="checkboxes" class="row" th:each="row:${seatsByRows}">
                            <label for="movieSeat">
                                <input class="seat" type="checkbox" th:each="seat:${row}" th:value="${seat.seatId}" th:text="${seat.seatName}" name="seats" id="movieSeat"/>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="booking">
                    <button type="submit" class="btn btn-outline-success" style="border: 1px solid green">
                        <i class="bi bi-check-circle" style="margin-right: 4px;"></i>
                        Booking
                    </button>
                </div>
            </div>
        </form>
    </main>
    <th:block layout:fragment="js">
      <script th:src="@{/js/user/seat-booking.js}"></script>
    </th:block>
</body>
</html>