<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Ticket</title>
    <link rel="stylesheet" th:href="@{/css/user/ticket-booking.css}">
</head>
<body>
    <main layout:fragment="content">
        <div class="ticket-container" >
            <div class="card card-left">
                <h1>
                    <img th:src="@{'/image/'+logo.svg}" alt="" width="70">
                    <span>Cinema</span>
                </h1>
                <div class="title">
                    <h2 th:text="${ticket.roomSchedule.movie.movieNameEng}"></h2>
                </div>
                <div class="name">
                    <h2 th:text="${ticket.account.fullName}"></h2>
                    <span>name</span>
                </div>
                <div style="display: flex">
                    <div class="seat" style="margin-top: 14px">
                        <span th:each="seat:${seats}" th:text="${seat.seatName}" style="margin: 2px; font-size: 14px"></span>
                        <br/>
                        <span >seat</span>
                    </div>
                    <div class="time">
                        <h2 th:text="${ticket.roomSchedule.startTime}"></h2>
                        <span>time</span>
                    </div>
                </div>
            </div>
            <div class="card card-right">
                <div class="eye"></div>
                <div class="number" >
                    <span th:each="seat:${seats}" th:text="${seat.seatName}" style="margin: 2px"></span>
                    <br>
                    <span>seat</span>
                </div>
                <div class="barcode"></div>
            </div>
        </div>
    </main>
</body>
</html>